.container
  display: flex
  flex-direction: row
  align-items: baseline
  flex-wrap: wrap
  max-height: 858px
  padding: 0 10px 10px 10px
  overflow: overlay
  &::-webkit-scrollbar-track
    background-color: #fff
  &::-webkit-scrollbar
    width: 7px
    background-color: #fff
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: rgb(163, 162, 162, 0.53)

.img
  width: 182px
  margin: 4.8px 4.8px
  border-radius: 2%
  height: 162px
  background-size: cover
  cursor: pointer
  box-shadow: 0 1px 0 0 #d8d8d8, 0 0 0 1px #d8d8d8
  img
    width: 182px
    height: calc(100% - 20px)
    object-fit: cover
    border-bottom-right-radius: 2%
    border-bottom-left-radius: 2%

.panel
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  height: 20px
  font-size: 14px
  color: #2a5885
  background: white
  opacity: 0.9

.count
  display: inline-block
  margin-left: -2px

.like
  width: 14px
  height: 14px
  background: url(../../img/like.png) no-repeat
  background-size: contain
  margin-right: 5px

.comment
  width: 14px
  height: 14px
  background: url(../../img/comment.png) no-repeat
  background-size: contain
  margin-left: 12px
  margin-right: 5px