.container
  margin-bottom: 19px
  margin-top: 19px
  outline: none
  font-family: "Open Sans",Helvetica,Arial,sans-serif
  font-size: 12.5px
  vertical-align: top
  line-height: 15px
  text-decoration: none

.input_text
  padding-left: 10px
  text-align: left
  height: 26px
  border-radius: 2px
  border: 1px solid gray
  margin-right: 19px

.input_submit
  text-align: center
  padding: 7px 16px 8px
  margin: 0
  display: inline-block
  zoom: 1
  cursor: pointer
  white-space: nowrap
  background: none
  background-color: #5e81a8
  color: #fff
  border: 0
  border-radius: 2px
  box-sizing: border-box
  margin-right: 19px
  &:diasbled
    background-color: #878787

.info
  float: right
  font-size: 11px
