.container
  display: block
  position: relative
  width: 980px
  margin: 0 auto
  background: white
  border-radius: 2px
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
  animation: fadeIn 0.5s

.header
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  margin-top: 19px