.container
  display: flex

.input_submit
  display: inline-block
  padding: 7px 16px 8px
  margin-right: 18px
  background-color: #5e81a8
  cursor: pointer
  color: #fff
  border: 0
  border-radius: 2px
  box-sizing: border-box
  &:disabled
    background-color: #878787

.sort_like
  display: inline-block
  width: 29px
  height: 28px
  margin-right: 18px
  background: url("../../../img/like.png") no-repeat center
  background-size: 17px
  border: 1px solid #5e81a8
  border-radius: 2px
  cursor: pointer

.sort_comment
  composes: sort_like
  background: url("../../../img/comment.png") no-repeat center
  background-size: 17px