.container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between

.img
  width: 19%
  border-radius: 2%
  height: 162px
  margin-bottom: 19px
  background-size: cover
  cursor: pointer
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8

.panel
  font-size: 14px
  color: #2a5885
  background: white
  opacity: 0.9
  text-align: center

.count
  display: inline-block
  margin-left: -2px

.like
  background: url(../../../build/img/like.png) no-repeat
  background-size: contain
  background-position-y: 1px

.comment
  background: url(../../../build/img/comment.png) no-repeat
  background-size: contain
  background-position-y: 1px
  margin-left: 12px;