.container
  display: flex

.input_submit
  display: inline-block
  padding: 7px 16px 8px
  margin-right: 18px
  background: radial-gradient(ellipse at 70% 70%,#ee583f 8%,#d92d77 42%,#bd3381 58%)
  cursor: pointer
  color: #fff
  border: 0
  border-radius: 2px
  box-sizing: border-box
  &:disabled
    background-color: #878787

.sort_like
  display: inline-block
  width: 29px
  height: 28px
  margin-right: 18px
  background: url("../../../img/like.svg") no-repeat center
  background-size: 17px
  border: 1px solid #e56a6c
  border-radius: 5px
  cursor: pointer

.sort_comment
  composes: sort_like
  background: url("../../../img/comment.svg") no-repeat center
  background-size: 17px

.empty
  div
    pointer-events: none
    background-color: #d8d8d8
    border-color: #bfbfbf
    opacity: 0.7
