.container
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  position: relative
  font-size: 12.5px
  line-height: 15px
  width: 335px
  padding: 0 15px

.picker
  width: 140px
  height: 30px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  color: white
  padding: 7px 16px 8px
  box-sizing: border-box
  background: #5e81a8
  border-radius: 2px
  cursor: pointer
  user-select: none

.info
  display: inline-block
  font-size: 11px
  text-align: center
  text-transform: capitalize
  max-width: 110px
  max-height: 45px
  overflow: hidden

.options
  width: 140px
  position: absolute
  top: 29px
  right: 15px
  display: flex
  flex-direction: column
  z-index: 1
  border: 1px solid #5e81a8
  box-sizing: border-box
  border-radius: 2px
  div
    position: relative
    height: 30px
    text-align: left
    padding-left: 15px
    line-height: 30px
    background: white
    border-bottom: 1px solid #5e81a8
    cursor: pointer
    user-select: none
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  div:last-child
    border-bottom: 0
  .selected
    background: #deebfa